<div class="main-weather-page">
  <div class="main-weather-page__body d-flex">
    <section class="main-weather-page__location-bar">
      <app-location-bar [title]="selectedLocationsBarTitle">
        <app-new-locations-container header>
          <app-location-bar body [title]="newLocationsBarTitle">
            <app-new-location-list body
                                   [basicUserLocation]="basicLocation"
                                   [savedLocations]="savedLocations"
                                   [locations]="locations"
                                   [onChangesLocations$]="onChangeLocations$"
                                   (onClick)="saveLocation($event)"
            ></app-new-location-list>
          </app-location-bar>
        </app-new-locations-container>
        <app-location-list body
                           [basicUserLocation]="basicLocation"
                           [savedLocations]="savedLocations"
        ></app-location-list>
      </app-location-bar>
    </section>
    <section class="main-weather-page__weather">
      <app-weather [weather]="weather"></app-weather>
    </section>
  </div>
</div>
