<div class="location-list">
  <div class="default-location">
    <button (click)="emitLocationClick(basicUserLocation)"
            class="default-location__btn btn c-pointer"
    >
      {{basicUserLocation?.locationName}}
    </button>
  </div>
  <div (onRefreshShowingList)="refreshList($event)"
       [locations]="savedLocations"
       appPagination
  >
    <app-location-item (click)="emitLocationClick(location)"
                       *ngFor="let location of showingLocations"
                       [location]="location"
                       class="location-list__item"
    >
      <img (click)="emitIconClick(location)"
           alt="delete"
           class="location-list__icon c-pointer"
           icon
           src="assets/icons/close_icon.svg"
      >
      1
    </app-location-item>
  </div>
  <div class="location-list-controller"
  >
    <div appPaginationController class="location-list-controller__container"></div>
  </div>
</div>
