@import "../../../../assets/styles/colors";

app-location-list {
  display: block;
  height: 100%;
  padding: 16px 4%;

  .default-location {
    &__btn {
      background-color: $light-blue;
      color: $white;

      &:hover {
        background-color: $blue;
      }
    }
  }

  .location-list {
    position: relative;
    height: 100%;

    &__item {
      margin-top: 16px;
      position: relative;
    }

    &__icon {
      display: block;
      height: 24px;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      fill: $white;
      color: $white;
      z-index: 2;
    }
  }

  .location-list-controller {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;

    &__container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__arrows {
      position: absolute;
      max-height: 24px;
    }

    &__right-arrow {
      right: 0;
      transform: rotate(180deg);
    }

    &__left-arrow {
      left: 0;
    }

    &__number {
      margin-right: 8px;
      font-size: 18px;

      &:last-of-type {
        margin-right: 0;
      }
    }

    &__selected-number {
      font-weight: 800;
    }
  }
}
